{{#.}}
# {{{title}}}
## Description
{{{description}}}

## Request
### Request headers and query
|Name|In|Description|Required|Type|
|-|-|-|-|-|
{{#parameters}}
|{{name}}|{{in}}|{{description}}|{{required}}|{{schema.type}}|
{{/parameters}}
{{^parameters}}
|NA|NA|NA|NA|NA|
{{/parameters}}

### Request body
{{#requestbody}}
|Name|Description|Type|
|-|-|-|
{{#.}}
|{{name}}|{{description}}|{{type}}|
{{/.}}
{{^.}}
|NA|NA|NA|
{{/.}}

{{/requestbody}}

## Response
### Response code
|Status Code|Description|
|-|-|
{{#responses}}
{{#.}}
|{{code}}|{{description}}|
{{/.}}
{{/responses}}

### Response body
{{#responses}}
{{#.}}
***{{code}}***
{{#responsebody}}
|Name|Description|Type|
|-|-|-|
{{#.}}
|{{name}}|{{description}}|{{type}}|
{{/.}}
{{^.}}
|NA|NA|NA|
{{/.}}

{{/responsebody}}

{{#responseMock}}
```json
{{{.}}}
```
{{/responseMock}}

{{/.}}
{{/responses}}
{{/.}}

